body {
	position: relative;
	font-family: "Microsoft YaHei", "Source Sans Pro", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #f4f4f4;
}
ion-icon {
	vertical-align: text-bottom;
	font-size: 20px;
	margin-right: 5px;
}

.owo-navbar {
	background-color: #00254a!important;
}

.owo-giant-screen {
	display: flex;
	margin: 20px auto;
	color: #fff;
	background-color: rgba(68, 68, 68, 0.5);
	border-radius: 5px;
}
.owo-giant-screen.height-50 {
	height: 50vh;
}
.jumbotron {
	margin: auto auto;
	background-color: rgba(68, 68, 68, 0)!important;
}
.hugeTitle {
	font-weight: 900!important	;
}

.owo-area-title {
	width: 125px;
	margin: auto auto;
	margin-top: 100px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 2px solid #0180ff;
}
.owo-area-title.lang {
	width: 280px;
}

.owo-area-subtitle {
	margin: auto auto;
	font-size: 16px;
	text-align: center;
}

.owo-box {
	padding: 10px;
}

.owo-box .inner-box {
	padding: 15px;
}
.owo-box h3 {
	margin: 20px 0;
	font-size: 23px;
	font-weight: bold;
}
.owo-box h4 {
	font-size: 16px;
	font-weight: bold;
}
.owo-box h5 {
	font-size: 14px;
}

.owo-container {
	display: flex;
	border-radius: 5px;
	margin: 20px 50px;
	padding-top: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.middle {
	width: 66.6666%;
	margin: auto auto;
}

.owo-clear-area {
	margin: 15% auto;
}
.owo-clear-area.m-2 {
	margin: 2% auto;
}
.owo-clear-area.m-5 {
	margin: 5% auto;
}


.owo-item {
	display: block;
	width: 10cm;
	margin: 10px;
	padding: 5px;
	border-radius: 2px;
	background-color: #fff;
}
.owo-item .title {
	text-align: center;
	margin-bottom: 0;
	padding: 5px;
	border-radius: 3px;
	background-color: #0180ff;
	color: white;
}
.owo-item .title.cl-green {
	background-color: #26b164;
}
.owo-item .product.title {
	margin: 5px 0;
	background-color: #002260;
}
.owo-item p.rating {
	margin-bottom: 0;
	padding: 10px 5px;
}
.owo-item p.rating ion-icon {
	margin-top: 10px;
	padding: 7px;
	border-radius: 5px;
	color: #fff;
}
.owo-item p.rating ion-icon.up {
	background-color: #03a300;
}
.owo-item p.rating ion-icon.full-star {
	padding: 7px 0;
	color: #ffa012;
	background-color: #fff;
}
.owo-item .text {
	padding: 5px;
	text-align: center;
}

.footer-navbar {
	display: flex;
	flex-direction: column;
	background-color: #ededed;
}
.footer-navbar .upper{
	padding: 10px;
	display: flex;
	flex-direction: row;
}
.footer-navbar .upper .area {
	display: flex;
	flex-direction: column;
	margin: 5px auto;
	padding: 5px;
}
.footer-navbar .upper .area .title {
	padding: 10px 0;
	float: left;
	font: 12px/1.6 "Segoe UI",Tahoma,Arial;
	font-weight: 700;
	font-size: 17px;
	color: #3b3663;
}
.footer-navbar .upper .area .item {
	padding: 5px 0;
	font-size: 14px;
}
.footer-navbar .upper .area a.item {
	text-decoration: none;
	color: #3b3663;
}
.footer-navbar .upper .area a.item:hover {
	transition: 1s ease-in-out;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	background-color: #1b8dff;
}

.footer {
	margin-top: 30px;
	text-align: center;
	padding: 10px;
	background-color: cornflowerblue;
	color: #fff;
	font-weight: bold;
}
.footer a {
	text-decoration: none;
	color: #fff;
}
.footer a:hover {
	transition: 1s;
	text-decoration: none;
	color: #00ffdc;
}


@media screen and (max-width: 740px) {
	.middle {
		width: 100%!important;
	}
	.footer-navbar {
		flex-direction: column;
	}
}
@media screen and (max-width: 1550px) {
	.middle {
		width: 70%;
	}
}